*{
    padding: 0;
    margin: 0;
}


.header {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    background-size: cover;
   }

   .menu{
       display: flex;
       background-color: rgba(0, 90, 193, 0.5);
   }

   .menu ul{
       list-style: none;
       display: flex;
       flex-direction: row;
       width: 40%;
       margin: auto;
       justify-content: space-between;
   
   }

   .menu a{
       text-decoration: none;
       color: white;
       font-size: 14pt;
       font-family: 'Open Sans', sans-serif;
       
   }

   .menu img{
       width: 140px;
       height: 58px;
       margin: 2%;

   }

   .block{
       width: 444px;
       height: 669px;
       background-color: rgba(0, 90, 193, 0.5);
       margin-left: 15%;
   }


   .content{
       padding-top: 40%;
       padding-left: 40%;
       width: 100%;
   }

.content h1{
    color: white;
    font-size: 30pt;
    width: 135%; 
    font-family: 'Oswald', sans-serif;  
}

.content p{
    color: white;
    font-size: 15pt;
    margin-top: 10%;
    font-family: 'Open Sans', sans-serif;
}

.content button{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 4%;
    width: 170px;
    font-size: 16pt;
    margin-top: 8%;
    font-family: 'Open Sans', sans-serif;


}

.content button:focus{
    outline: none;
    background-color: rgba(0, 0, 255, 0.335)
}


.main{
    display: flex;
    flex-direction: column; 
    
}

.main_title{
    display: inline-flex;
    width: 22%;
    justify-content: space-between;
    margin-left: 9%;
}


.our_progect{
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    
}

.main_title svg{
    margin-top: 4%;
}

.our_progect h1{
    font-size: 20pt;
    font-family: 'Oswald', sans-serif;
}


.butt{
    display: flex;  
    margin-right: 9%; 
}

.butt button{
    height: 45px;
    width: 45px;
    background: none;
    border: 1px solid rgb(0, 174, 255);  
}


.photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.photos img{
    padding: 1%;
}


.main_catalog{
    display: inline-flex;
    width: 27%;
    justify-content: space-between;
    margin-left: 9%;

}


.main_catalog svg{
    margin-top: 4%;
}


.choise{
    display: flex;
    margin-top: 10%;
    width: 30%;
    justify-content: center;
}


.choise a{
    text-align: center;
    font-size: 20pt;
    color: rgba(0, 0, 0, 0.883);
    text-decoration: none;
    margin: 3%;
    font-family: 'Oswald', sans-serif;

}

.choise a:hover{
    text-decoration: underline;
    color: rgb(0, 110, 255);
    
}

.our_product{
    display: flex;
    margin-top: 8%;
}

.our_product h1{
    font-size: 20pt;
    font-family: 'Oswald', sans-serif;
}


.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product img{
    margin: 1%;
    margin-top: 12%;
}


.main_rent{
    display: inline-flex;
    width: 30%;
    justify-content: space-between;
    margin-left: 9%;
    margin-bottom: 5%;
}


.main_rent svg{
    margin-top: 4%;
}

.procat{
    display: flex;
    flex-direction: row;
}

.procat p{
    width: 23%;
    color: rgb(68, 68, 68);
    font-family: 'Open Sans', sans-serif;
    margin: 8%;
}

.new{
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(0, 90, 193);
    padding: 3%;
    width: 665px;
}


.block1{
    display: flex;
    flex-direction: row;
}

.block1 svg{
    margin-left: 10%;
}

.block1 h4{
    margin-top: 3%;
    font-family: 'Oswald', sans-serif;
}

.butt2{
    display: flex;  
    margin-left: 5%; 
    margin-left: 35%;
}

.butt2 button{
    height: 45px;
    width: 45px;
    background: none;
    border: 1px solid rgb(0, 174, 255);  
}

.block2{
    display: flex;
    flex-direction: row;
}

.block2 img{
    width: 255px;
    height: 250px;
    margin: 2%;
}


.block3{
    display: flex;
    flex-direction: column;
    margin: 6%;
  
}

.block3 h3{
    margin-bottom: 5%;
    font-size: 17pt; 
    font-family: 'Oswald', sans-serif;

}

.block3 li{
    margin-bottom: 6%;
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
}


.main_news{
    display: inline-flex;
    width: 18%;
    justify-content: space-between;
    margin-left: 9%;
}


.main_news svg{
    margin-top: 4%;
}

.news{
    width: 170px;
    height: 50px;
    border: none;
    background-color: #005BC1;
    color: white;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    margin-left: 55%;

   
}

.news:focus{
    outline: none;
    background-color: black;

}

.sem{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 9%;
    justify-content: space-between;
    width: 80%;
}
    


.sem img{
    width: 255px;
    height: 250px;
}

.milos{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.milos h2{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10%;
    font-size: 15pt;
}

.milos p{
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30%;
    font-size: 10pt;
    width: 130%;


}


.milos a{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 10pt;
}


.exhibition{
    display: flex;
    flex-direction: column;
    width: 180%;
    margin-left: 100px;
    
   
}

.exhibition h2{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10%;
    font-size: 15pt;

}

.exhibition p{
    margin-top: 5%;
    margin-bottom: 24px;
    width: 80%;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

.exhibition2{
    display: flex;
    flex-direction: column;
    width: 150px;
    
    
   
}

.exhibition2 h2{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 23%;
    font-size: 15pt;
    width: 100px;
  

}

.exhibition2 p{
    margin-top: 5%;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    margin-bottom: 19%;
    width: 300px;
}

.photos_date{
    display: flex;
    flex-direction: row;
    
}

.photos_date p{
    color: #a7a7a7;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    margin-top: 75px;
    margin-left: 10%;
}

.photos_date img{
    width: 100px;
    height: 90px;
}


