*{
    padding: 0;
    margin: 0;
}


.header {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    background-size: cover;
   }

   .menu{
       display: flex;
       background-color: rgba(0, 90, 193, 0.5);
   }

   .menu ul{
       list-style: none;
       display: flex;
       flex-direction: row;
       width: 40%;
       margin: auto;
       justify-content: space-between;
   
   }

   .menu a{
       text-decoration: none;
       color: white;
       font-size: 14pt;
       font-family: 'Open Sans', sans-serif;
       
   }

   .menu img{
       width: 140px;
       height: 58px;
       margin: 2%;

   }

   .block{
       width: 444px;
       height: 669px;
       background-color: rgba(0, 90, 193, 0.5);
       margin-left: 15%;
   }


   .content{
       padding-top: 40%;
       padding-left: 40%;
       width: 100%;
   }

.content h1{
    color: white;
    font-size: 30pt;
    width: 135%; 
    font-family: 'Oswald', sans-serif;  
}

.content p{
    color: white;
    font-size: 15pt;
    margin-top: 10%;
    font-family: 'Open Sans', sans-serif;
}

.content button{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 4%;
    width: 170px;
    font-size: 16pt;
    margin-top: 8%;
    font-family: 'Open Sans', sans-serif;


}

.content button:focus{
    outline: none;
    background-color: rgba(0, 0, 255, 0.335)
}


.main{
    display: flex;
    flex-direction: column; 
    
}

.main_title{
    display: inline-flex;
    width: 22%;
    justify-content: space-between;
    margin-left: 9%;
}


.our_progect{
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    
}

.main_title svg{
    margin-top: 4%;
}

.our_progect h1{
    font-size: 20pt;
    font-family: 'Oswald', sans-serif;
}


.choise{
    margin-bottom: 5%;
    margin-left: 30%;
    display: flex;
}

.choise a{
    font-size: 20pt;
    color: black;
    text-decoration: none;
    margin: 3%;
}

.choise a:hover{
    text-decoration: underline;
    color: blue;
    
}

.butt{
    display: flex;  
    margin-right: 9%; 
}

.butt button{
    height: 45px;
    width: 45px;
    background: none;
    border: 1px solid rgb(0, 174, 255);  
}


.photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.photos img{
    padding: 1%;
}

/*

.product{
    display: flex;
    flex-direction: row;
}

.product img{
    margin: 1%;
}


.main p{
    font-size: 15pt;
    width: 25%;
    margin-top: 8%;
    margin-right: 5%;
}

.procat{
    display: flex;
    flex-direction: row;
}

.new{
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(0, 90, 193);
    padding: 3%;
    width: 665px;
    margin-bottom: 12%
}


.block1{
    display: flex;
    flex-direction: row;
}

.block1 svg{
    margin-left: 10%;
}

.block1 h4{
    margin-top: 3%;
}

.block2{
    display: flex;
    flex-direction: row;
}

.block2 img{
    width: 255px;
    height: 250px;
    margin: 2%;
}


.block3{
    display: flex;
    flex-direction: column;
    margin: 6%;
  
}

.block3 h3{
    margin-bottom: 5%;
    font-size: 20pt; 
}

.block3 li{
    margin-bottom: 6%;
    font-size: 14pt;
}

.our_progect button{
    padding: 1%;
    width: 200px;
    border: none;
    background-color: #005BC1;
    color: white;
    font-size: 12pt;
    margin-left: 45%;
    margin-top: -3%;
}

.our_progect button:focus{
    outline: none;
    background-color: black;
}


.sem{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.sem img{
    width: 255px;
    height: 242px;
}

.milos{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.milos h

*/